
.vscode/
*.code-workspace

webapp/dist/

### Node ###
backend/node_modules/
backend/logs
backend/npm-debug.log*
webapp/node_modules/
webapp/logs
webapp/npm-debug.log*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
